
<% if current_user %>
      Signed in as <strong><%= current_user.name %></strong>!
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <div class="heading">
    <p>Привіт я Apifood - ваш вірний слуга який буде замовляти їжу за вас!!!</p>
    <p>Для того щоб почати використовувати мене будь-ласка клікніть на ссилку нижче</p>

    <%= link_to image_tag("google.png"), "/auth/google_oauth2", id: "sign_in" %>
    <end>  
  <% end %>

<h1>Мені потрібен твій Telegram ID.<br>
Щоб я його отримав клікни будь-ласка<br>
на ссилку нижче </h1>
<a href="https://telegram.me/Mocbot">Княпай</a>