
<center>
<%= image_tag("term.jpg", :alt => "rss feed") %>
</center>
<center>
<p><b><i>Мені потрібен твій Telegram ID. Щоб я його отримав клікни будь-ласка на ссилку нижче </i></b></p>

<a href="https://telegram.me/Mocbot">Княпай</a>
</center>