

<div>
  <% if current_user %>

      Signed in as <strong><%= current_user.name %></strong>!
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <div class="heading">
    <h2>Привіт, я Apifood!</h2>
    <h2>Для того щоб почати використовувати мене </h2>
    <h2>будь-ласка зареэструйтесь.</h2>

    <%= link_to image_tag("google.png"), "/auth/google_oauth2", id: "sign_in" %>
    <end>  
  <% end %>
</div>
