// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.heading{
     font-family: 'PT Sans', arial;
    margin-bottom: 20px;
    font-size: 25px;
    padding-bottom: 3px;

}
