// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
background-image: image-url("bg.jpg")
}
.heading{
    font-family: 'PT Sans', arial;
    margin-bottom: 20px;
    font-size: 25px;
    padding-bottom: 3px;
    color: #ffffff;

}

h1 { color: #000; font-size: 48px; font-family: 'PT Sans', arial; padding-bottom: 10px; }


p { font-family: 'Inder', sans-serif; line-height: 28px; margin-bottom: 15px; color: #666; }


a { color: #ff4411; transition: .5s; -moz-transition: .5s; -webkit-transition: .5s; -o-transition: .5s; }


a:hover { color: #a03c21 }


.date { float: left }


.author { float: right }


.entry-content { border-bottom: 3px solid #666; padding: 0 0 15px 0; margin-bottom: 8px; }


.meta-info { padding: 5px; overflow: hidden; }


.meta-info p { font-family: 'Fenix', serif; font-style: italic; color: #666; font-size: 16px; }
